[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=AnimalPikTest
Exec=/opt/usr/bin/AnimalPikTest
Icon=AnimalPikTest
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Hello world!!